$main-padding: 20px;
$text-justify: justify;
$image-width: 100%;
$max-image-width: 600px;
$margin-standard: 20px;
$font-family-vintage: 'Open Sans', serif; // Ejemplo de fuente vintage


.container-about {
    max-width: 800px;
    margin: auto;
    padding: $main-padding;
    text-align: center; // Cambio para centrar el título y ajustar el texto
    font-family: $font-family-vintage;
    h3 {
        font-size: 1.5rem;
        font-weight: 390;
    }

    .image {
        display: block;
        margin: $margin-standard auto;
        width: $image-width;
        max-width: $max-image-width;
    }

    p{
        font-size: 18px;
        font-weight: 300;
        text-align: justify;
        color:gray;
        margin:10px
      }
    span {
        font-weight: bold;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
        .image {
            max-width: 100%; // Asegura que la imagen sea totalmente responsive
        }
    }
}