/* Reset CSS */
@media screen and (min-width: 768px) {
  *,
  *::before,
  *::after {
    overflow-x: visible;
  }
}

@media screen and (max-width: 768px) {
  *,
  *::before,
  *::after {
    overflow-x: hidden;
  }
}

.app{
  // border: 1px solid red;
  .link{
    color: inherit;
    text-decoration: none;
  }
  
  .styles-module_whatsappButton__tVits {
    width: auto;
    height: auto;
  }
  .styles-module_whatsappChatBox__MdQ5U {
    height: auto;
    // overflow-x: visible;
    overflow-y: visible;
    
  }
  .styles-module_chatFooter__TGv0P {
     overflow: visible;
  }
   .styles-module_chatHeader__gaeOA {
   overflow: visible;
   height: auto;
   }
}

